
.bg-keis_block_image {
  width: 263px; height: 146px;
  background: url('../images/sprites.png') -294px -626px;
}

.bg-keis_block_image_1 {
  width: 262px; height: 146px;
  background: url('../images/sprites.png') -10px -792px;
}

.bg-keis_block_image_2 {
  width: 264px; height: 146px;
  background: url('../images/sprites.png') -576px -458px;
}

.bg-logo {
  width: 202px; height: 64px;
  background: url('../images/sprites.png') -860px -458px;
}

.bg-keis_block_image_3 {
  width: 263px; height: 147px;
  background: url('../images/sprites.png') -293px -458px;
}

.bg-keis_block_image_4 {
  width: 263px; height: 146px;
  background: url('../images/sprites.png') -577px -626px;
}

.bg-keis_block_image_6 {
  width: 263px; height: 148px;
  background: url('../images/sprites.png') -10px -458px;
}

.bg-keis_block_image_5 {
  width: 264px; height: 146px;
  background: url('../images/sprites.png') -10px -626px;
}

.bg-certificate {
  width: 343px; height: 428px;
  background: url('../images/sprites.png') -736px -10px;
}

.bg-certificate_2 {
  width: 343px; height: 428px;
  background: url('../images/sprites.png') -373px -10px;
}

.bg-certificate_3 {
  width: 343px; height: 428px;
  background: url('../images/sprites.png') -10px -10px;
}

